#container {
    width: 960px;
    margin: 0px auto;
    background-color: bisque;
}
th{
    width:98px;
    height:98px;
    text-align: center;
    background-color: rgb(177, 125, 214);
}
tr{
    width:98px;
    height:98px;
    text-align: center;
    background-color: rgb(223, 193, 233);           
}
table{
    margin: 0px auto;
}
tr td:first-child{
    background-color: rgb(97, 186, 192);
}
thead tr th{
    background-color: antiquewhite;
}
